extends layout

block content
  h1= title
  hr
  p Welcome to #[em IONSTATE], an administration panel for the ionstate.com domain. Written in NodeJS, ExpressJS, and using MongoDB and Mongoose.
  br

  h4 Database count

  if error
    p Error getting dynamic content.
  else
    p The app has the following record counts:

    ul
      li #[strong Nations:] !{data.nation_count}
      li #[strong Leaders:] !{data.leader_count}
      li #[strong Articles:] !{data.article_count}
      li #[strong Summits:] !{data.summit_count}