extends layout

block content
  h1= title
  hr

  ul(class='list')
    each article in news_list
      li
        | Query: #{article.query} -- 
        a(href=`${article.response.docs[0].web_url}`) #{article.response.docs[0].headline.main}
        |  -- #{article.date_formatted}

    else
      li There are no articles to list.